---
import Layout from "../layouts/Layout.astro";
import TerminalContainer from "../components/TerminalContainer.astro";
---

<Layout title="GNU/Bash">
  <main>
    <ul>
      <TerminalContainer />
    </ul>
  </main>
</Layout>

