---
import { VscTerminalBash } from "react-icons/vsc";
---

<div class="navbar">
    <div class="traffic-lights">
        <div class="traffic-light red"></div>
        <div class="traffic-light yellow"></div>
        <div class="traffic-light green"></div>
    </div>
    <VscTerminalBash className="bash-icon" />
    <h1 class="text-center">farhanj2/terminal</h1>
</div>
