---
import Navbar from "./Navbar.astro";
import InputHandler from "../components/InputHandler.tsx";
import Welcome from "./cmds/Welcome.astro";
import Date from "./cmds/GetDate.astro";
---

<div class="terminal-container">
    <div class="terminal-background"></div>
    <div class="terminal-content">
        <Navbar />
        <Welcome />
        <Date />
        <InputHandler />
    </div>
</div>
