---
import Navbar from "./Navbar.astro";
import InputHandler from "../components/InputHandler.tsx";
import Welcome from "./cmds/Welcome.astro";
import Date from "./cmds/GetDate.astro";
import Bio from "./cmds/GetBio.astro";
import GetProjects from "./cmds/GetProjects.astro";
import GetSkills from "./cmds/GetSkills.astro";
---

<div class="terminal-container">
    <Navbar />
    <div class="terminal-content">
        <Welcome />
        <Date />
        <Bio />
        <!-- <GetProjects /> -->
        <!-- <GetSkills /> -->
        <InputHandler client:load />
    </div>
</div>

<style>
    :root {
        background-image: url("../assets/wallpaper.jpeg");
        object-fit: cover;
    }
</style>
