<body>
    <div>
        <h1 class="text-output" id="login-info">Last login: Loading... on ttys010</h1>
        <h1 class="text-output">
            Welcome to my Profile!
        </h1>
    </div>
    <script>
        const getDate = () => {
            const date = new Date();
            const options = { hour12: false };
            const time = date.toLocaleTimeString(undefined, options);
            return date.toDateString() + ' ' + time;
        };

        const getRandom = (min: number, max: number) => {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        };

        document.addEventListener('DOMContentLoaded', () => {
            const dateElement = document.getElementById('login-info');
            if (dateElement) {
                dateElement.innerHTML = `Last login: ${getDate()} on ttys0${getRandom(1, 20)}`;
            }
        });
    </script>
</body>