---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main>
            <slot />
            <!-- All the pages will be rendered here -->
        </main>
    </body>
</html>

<style is:global>
    :root {
        background-image: url("../assets/wallpaper.jpeg");
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
    }
    .text-center {
        font-size: 1.25rem;
        display: inline-block;
        margin-right: 500px;
    }
    .terminal-container {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        /* margin-top: 1rem; Add margin to separate from navbar */
    }
    .terminal-inputfield {
        background: #1f2937;
        color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 80%;
        height: 80%;
        overflow: auto;
    }
    .terminal-output {
        /* max-width: 4xl;
        border-left-width: 2;
        border-right-width: 2;
        border-bottom-width: 2;
        border-color: slate-800;
        border-bottom-left-radius: md;
        border-bottom-right-radius: md;
        margin-left: auto;
        margin-right: auto;
        color: gray-300;
        font-size: xl;
        padding: 2;
        overflow-y: auto;
        height: 55vh;
        background-color: black;
        background-opacity: 75;
        box-sizing: border-box; */
    }
    .bash-icon {
        width: 25px;
        height: 25px;
        margin-left: 500px;
        margin-right: 10px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: #1f2937;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .traffic-lights {
        display: flex;
        gap: 0.5rem; /* Adjust the gap between traffic lights */
        margin-left: 10px;
    }
    .traffic-light {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.3); /* Border color */
    }
    .red {
        background-color: #ff5f56; /* Red color */
    }
    .yellow {
        background-color: #ffbd2e; /* Yellow color */
    }
    .green {
        background-color: #27c93f; /* Green color */
    }
</style>
